header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 2%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%;
    width: 33%;
    margin: auto;
}

/* adding some visual feedback to all buttons */
button:hover {
    opacity: 70%;
    transform: scale(1.1);
}

#highscores-btn {
    background-color: white;
    padding: 5px;
    color: slateblue;
    border-radius: 5px;
    border: 1px solid slateblue;
}

#start-quiz {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-quiz h1 {
    font-size: 200%;
}

#start-quiz button {
    padding: 2%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    width: 40%;
}

/* questions and answer styling */
#question-box {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

#question-box h2 {
    font-size: 150%;
}

#question-box button {
    padding: 1%;
    margin-top: 3%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
}

/* correct or wrong styling */
#verdict {
    margin-top: 3%;
    padding-top: 1%;
    font-size: 125%;
    border-top: 2px solid gray;
    width: 100%;
    font-style: italic;
    visibility: hidden;
}

/* input initial page */
#all-done {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

#all-done h2 {
    font-size: 150%;
}

#final-text {
    margin-top: 3%;
}

#form-initials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    position: relative;
}

#initials {
    margin: 0 2% 0 2%;
    width: 20%;
    height: 25px;
}

#submit {
    padding: 1%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
    height: 25px;
}

/* high score styling */
#score-board {
    display: none;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;

}

#score-board h1 {
    font-size: 175%;
    width: 100%;
}

#score-list ol {
    color: black;
    background-color: lightpink;
}

#score-board button {
    padding: 1%;
    background-color: slateblue;
    color: white;
    height: 25px;
    border-radius: 5px;
    margin: 5% 5% 0 0;
}

