
body {

}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: solid 1px chartreuse;
    height: 10vh;
    padding: 2%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    border: solid 1px red;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%;
    width: 33%;
    margin: auto;
}

#start-quiz {
    text-align: center;
    display: none;
    /* will undo this display none after I'm done styling question */
}

#start-quiz h1 {
    font-size: 200%;
}

#start-quiz button {
    padding: 2%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

#start-quiz button:hover {
    opacity: 70%;
    transform: scale(1.1);
}

#question-box {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

#question-box h2 {
    font-size: 150%;
}

#question-box button {
    padding: 1%;
    margin-top: 3%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
}

#question-box button:hover {
    opacity: 70%;
    transform: scale(1.1);
    /* can probably condense all my button:hover styling into one rule */
}

#question-box button:focus {
    opacity: 70%;
    transform: scale(1.1);
}

#verdict {
    margin-top: 3%;
    padding-top: 1%;
    font-size: 125%;
    border-top: 2px solid gray;
    width: 100%;
    font-style: italic;
    visibility: hidden;
}

#all-done {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

#all-done h2 {
    font-size: 150%;
}

#final-text {
    margin-top: 3%;
}

#form-initials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid chartreuse;
    height: 50px;
    position: relative;
}

#initials {
    margin: 0 2% 0 2%;
    width: 20%;
    height: 25px;
}

#submit {
    padding: 1%;
    background-color: slateblue;
    color: white;
    border-radius: 5px;
    height: 25px;
}

#submit:hover {
    opacity: 70%;
    transform: scale(1.1);
}

